link(
    rel="stylesheet"
    type="text/css"
    href="/static/sign.css"
    media="all"
)

div(class="sign_field")
    div(class="signup") —　請先登入　—
    form(
        class="sign_form"
        action="/api/user/signup"
        method="post"
    )
        div(class="fullname")
            label(for="fullname") 名字
            br
            input(
                class="sign"
                id="name"
                type="text"
                name="name"
                placeholder="請輸入你的名字"
            )
        div(class="email")
            label(for="email") Email
            br
            input(
                class="sign"
                id="email"
                type="text"
                name="email"
                placeholder="請輸入你的email"
            )
        div(class="password")
            label(for="email") 密碼
            br
            input(
                class="sign"
                id="password"
                type="text"
                name="password"
                placeholder="請輸入你的密碼"
            )
            br
        div(class="btns")
            input(
                type="button"
                class="btn"
                onclick="closeSign(event)"
                value="註冊"
            )
            button(
                type="button"
                class="btn cancel"
                onclick="closeSign(event)"
            ) 取消
            
        div(class="switch")
            span(class="split") — — — — — —
            span(class="already") 已經有帳號?
                a(href="#" class="login") 　登入
